body {
    overflow-y: visible !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: moz-none;
    user-select: none;
}

body * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    /* Firefox */
    -webkit-box-sizing: border-box;
    /* Safari */
}


/** html4 reset **/

body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
}

fieldset,
img {
    border: 0 none;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var,
b,
h1,
h2,
h3 {
    font-style: normal;
    font-weight: normal;
}

ol,
ul,
li {
    list-style-type: none
}

q:before,
q:after {
    content: '';
}

abbr,
acronym {
    border: 0;
    font-variant: normal;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th,
td,
caption {
    vertical-align: top;
    text-align: left;
}

input[type="text"],
input[type="email"],
input[type="search"],
input[type="password"],
input[type="date"],
input[type="month"],
input[type="tel"],
input[type="radio"],
input[type="checkbox"],
input[type="button"],
button,
textarea {
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="search"] {
    -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

img {
    vertical-align: middle;
    font-size: 0;
}

h1 {
    font-size: 0.24rem;
}

h2 {
    font-size: 0.2rem;
}

h3 {
    font-size: 0.18rem;
}

h4 {
    font-size: 0.16rem;
}

h5 {
    font-size: 0.14rem;
}


/** html5 reset **/

header,
footer,
section,
nav,
menu,
details,
hgroup,
figure,
figcaption,
article,
aside {
    margin: 0;
    padding: 0;
    display: block;
}

::-moz-placeholder,
::-webkit-input-placeholder {
    color: red;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:hover {
    opacity: 1
}

.clear {
    clear: both;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}


/** Body, links, basics **/

html {
    font-size: 100px;
}

html,
body {
    width: 100%;
    height: 100%;
    position: relative;
}

body {
    font-size: 0.12rem;
    font-weight: normal;
    font-family: '微软雅黑‘', 'PFDin', "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #666666;
}


/* 版心 */

.center {
    margin: 0 auto;
    width: 70%;
}


/* é€šç”¨ */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}


/*==============================================*/


/*弹出层部分样式*/


/*含： 消息框  确定框 选择框*/


/*==============================================*/
